{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium eos veritatis nostrum magnam commodi delectus reiciendis error. In autem commodi repellendus, reprehenderit iusto ipsam? Laborum nisi fuga, vitae repellendus aliquid hic accusantium, culpa nostrum inventore deleniti iusto dolorum omnis? Iusto dolores minus nam dolorem in laudantium earum? Quod asperiores atque esse! Ipsa quo, eligendi magnam reiciendis minus velit suscipit eius accusantium natus quasi incidunt reprehenderit unde, temporibus inventore tempora ipsum? Dicta assumenda non eos, molestiae vel labore. Alias rem culpa enim animi reprehenderit sunt maxime reiciendis accusantium impedit quos molestiae, voluptates id rerum qui. Repellendus doloribus illum consequatur dolor maxime.</p>
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Signin
        </a>
        <a class="btn btn-secondary" href="/signup/">
            Signup
        </a>
    </div>
    </section>
</main>
{% endblock %}